/* Stormcloak */

#title_S{
  text-align: center;
  font-size: 20px;
  background-color: rgba(74, 108, 157, 1);
}

#title_S h1{
  margin: 0px;
}

#linksToFaction_S{
  background-color: black;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px.
}

#flag_S{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
}

#body_S{
  background-color: rgba(207, 189, 149, 1);
  font-family: "Impact", "sans-serif";
  font-size: 20px;
}

#table_S{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-collapse: collapse;
}

#table_S th{
  font-size: 40px;
  background-color: black;
  color: white;
}

#table_S td{
  background-color: rgba(74, 108, 157, 1);
  border-style: solid;
  border-width: 2px;
  padding-left: 25px;
  padding-right: 25px;
}

#summary_S{
  display: block;
  background-color: rgba(74, 108, 157, 1);
  border-style: double;
  border-width: 8px;
  margin-left: 25%;
  margin-right: 25%;
}

/* Imerial Legion */

#title_IL{
  text-align: center;
  font-size: 20px;
  background-color: rgba(152, 65, 65, 1);
}

#title_IL h1{
  margin: 0px;
}

#linksToFaction_IL{
  background-color: grey;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px.
}

#flag_IL{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border-style: double;
  border-color: rgba(152, 65, 65, 1);
  border-width: 10px;
  border-radius: 30px;
}

#body_IL{
  background-color: rgba(177, 157, 91, 1);
  font-family: "Courier New", "monospace";
  font-size: 25px;
}

#summary_IL{
  display: block;
  background-color: rgba(152, 65, 65, 1);
  border-style: dotted;
  border-width: 8px;
  margin-left: 25%;
  margin-right: 25%;
}
#table_IL{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-collapse: collapse;
}

#table_IL th{
  font-size: 40px;
  background-color: grey;
  color: white;
}

#table_IL td{
  background-color: rgba(152, 65, 65, 1);
  border-style: solid;
  border-width: 2px;
  padding-left: 25px;
  padding-right: 25px;
}


body{
  margin: 0px;
}

a{
  color: white;
}
